nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      | HOME (navigation.pug)

      svg.navigation__link__icon(style="border: 1px solid red;")

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/about") About (navigation.pug)
      li.navigation__list__item
        a.navigation__list__link(href="/collections") Collections (navigation.pug)

