%page {
  @extend %cover;

  opacity: 0; // detiene el flashing en la animacion
  visibility: hidden; // detiene el flashing en la animacion
  z-index: z("content");
}

%page__wrapper {
  color: inherit;
}
