*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  @extend %cover;
  @extend %description-18;
  font-family: $font-suisse-bp;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
